@{
    ViewData["Title"] = "MoonBlur";
}

<div class="text-center">
    <h1>PUBLICACIONES</h1>
    @for(var i=0; i < 10; i++)
    {
    <img src="~/img/pexels-aleksandar-pasaric-4537858.svg" style="width:467px;height:585px;object-fit: cover; color:white;">
    <p class="display-6">ACÁ DEBERA IR LA FOTO @i</p>
    
    }
</div>