@{
    ViewData["Title"] = "Moonblur";
}

<div class="text-center">
    <h1>PUBLICACIONES</h1>
    @for(var i=0; i < 10; i++)
    {

    <p class="display-4">ACÁ DEBERA IR LA FOTO @i</p>
    
    }
</div>