<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] / MB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 container">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoonBlur</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        @if (Context.Session.GetInt32("LogueadoId") != null && Context.Session.GetString("LogueadoRol") == "Miembro")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Publicacion" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Publicacion" asp-action="Publicar">Publicar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="SolicitudesPendientes">Solicitudes pendientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Personas">Buscar Personas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Publicacion" asp-action="BuscarPublicaciones">Buscar Publicaciones</a>
                            </li>
                        }
                        else if (Context.Session.GetString("LogueadoRol") == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Publicacion" asp-action="BuscarPublicaciones">Buscar Publicaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Personas">Buscar Personas</a>
                            </li>

                        } else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                        }

                    </ul>

                    <ul class="navbar-nav ml-auto">
                        @if (Context.Session.GetInt32("LogueadoId") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">Cerrar sesión</a>
                            </li>
                        } else {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Iniciar sesión</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Registro">Registrarse</a>
                            </li>
                        }
                        <li class="nav-item mr-auto">
                        </li>
                    </ul>
                    <button id="dark-mode-toggle" class="btn btn-dark">🌙</button>
                </div>
            </div>

            @*                 <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">

            <li></li>
            </ul>
             *@
        </nav>
    </header>
    <div class="row">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MoonBlur - <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
