@{
    ViewData["Title"] = "Sé el astro distinto";
}

<div class="container d-flex align-items-center justify-content-center row-cols-2 mx-auto my-12">
    <div class="text-lg-center">
        <h2>Aquí iría el logo</h2>
    </div>
    <div class="d-flex align-items-center row">

        <h1 class="text-lg-center h-100">✨Sé la estrella más brillante en tu constelación✨</h1>
        
        <div class="text-lg-start">
            <div class="container">
                <h2 class="text-lg text-center">Únete a nuestro universo</h2>
                <button class="btn btn-light  btnLogin">Registrarse</button>
            </div>
            <div class="container">
                <p class="text-center pLogin mb-1">¿Ya eres parte?</p>
                <button class="btn btn-light mt-0 btnLogin">Iniciar sesión</button>
            </div>
            <div class="container">
                <button class="btn btn-light btnLogin">Ingresar anónimo</button>
            </div>
        </div>
    </div>
</div>